{% extends 'myapp/base.html' %}
{% load static %}
{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{% static 'myapp/css/signup.css' %}">
{% endblock %}

{% block header-title %}パスワード変更{% endblock %}

{% block content %}
  <body>
    <form action="" method="POST">
      {% csrf_token %}
      <div class="form-pwdchange">
      {{form.as_p}}
      </div>
      <div class="submit-wrapper">
      <button type="submit" class="submit">変更</button>
      </div>
    </form>
  </body>
{% endblock %}