{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'myapp/css/index.css' %}" >
  <title>Document_index</title>
</head>
<body>
 <div class="button-wrapper">
  <div class="login_button">
    <a href="{% url 'myapp:login_view' %}">ログイン</a>
  </div>
  <div class="register_button">
    <a href="{% url 'myapp:signup_view' %}">会員登録</a>
  </div>
 </div>
</body> 
</html>